/bin/
/keys/
/logs/
/output/*
/testing/assembly/*
/testing/extraction/*
/testing/highlevel/*
/testing/output/*
/products/
/specs/
/testGroupInput/
/FileIndex.sqlite
/hashdb/
/mappings/
/databases/
/trees/
/config.xml
/.classpath
/.settings
/.project
/README.md
